name: preview

on:
  workflow_dispatch:
    inputs:
      platform:
        description: Platform to build
        required: true
        type: choice
        options:
          - all
          - ios
          - android
        default: all

concurrency:
  group: preview-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: build ${{ matrix.platform }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: ${{ github.event.inputs.platform == 'all' && fromJSON('["ios","android"]') || fromJSON(format('["{0}"]', github.event.inputs.platform)) }}
    steps:
      - uses: actions/checkout@v4

      - uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - uses: oven-sh/setup-bun@v2

      - name: install dependencies
        run: bun install

      - name: build
        run: eas build --platform ${{ matrix.platform }} --profile development --non-interactive
        working-directory: apps/mobile
